* {
    margin-bottom: 10px;
}

.container {
    margin-top: 5px;
    background-color: aqua;
    border: 1px darkblue dashed;
    padding: 10;
}

.container-sm {
    background-color: red;
    border: 1px darkred dashed;
    padding: 10;
}

.container-md {
    background-color: green;
    border: 1px darkgreen dashed;
    padding: 10;
}

.container-fluid {
    background-color: yellow;
    border: 1px darkgoldenrod;
    padding: 10;
}

.row div {
    background-color: blueviolet;
    border: 1px dashed black;
    padding: 5;
}